* {
    box-sizing: border-box;
    font-size: 14px;
}

:root {
    --green: hsl(75, 94%, 57%);
    --black: hsl(0, 0%, 8%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --dark-grey: hsl(0, 0%, 12%);
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.card {
    border: 1px solid var(--black);
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

img {
    border-radius: 50%;
}

button {
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    padding: 10px;
    margin: 10px;
    background-color: var(--grey);
}

.github, .frontend-mentor, .linkedin, .linkedin, .twitter, .instagram {
    font-weight: 600;
    color: var(--white);
}

